.container {
    padding-top: var(--spacing6);
    padding-bottom: var(--spacing4);
    background-color: var(--black);
    color: var(--white);
}

/* Headline */
.headline {
    white-space: pre-wrap;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: var(--spacing2);
    color: var(--crimson-red);
}

/* SubHeadline */
.subHeadline {
    font-weight: var(--heavy);
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: var(--spacing2);
}

/* Paragraph */
.paragraph {
    white-space: pre-wrap;
    margin-bottom: var(--spacing3);
}

/* External Link */
.externalLink {
    display: block;
    font-weight: var(--heavy);
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: var(--spacing4);
}

/* Button */
.button {
    margin-bottom: var(--spacing4);
}

/* Discover Platform Link */
.discoverPlatformLink {
    display: block;
    text-align: center;
    font-weight: var(--heavy);
    margin-bottom: var(--spacing3);
    padding: var(--spacing) var(--spacing4);
    border: 1px solid transparent;
    transition: var(--transition-default-timing) var(--transition-default-easing);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--crimson-red);
    color: var(--white);
}

@media (max-width: 767px) {
    /* Content */
    .content > div > div > header > h2 {
        color: var(--crimson-red);
    }

    /* Paragraph */
    .paragraph {
        color: var(--white);
    }
}

@media (min-width: 768px) {
    /* Container */
    /* The paddijng bottom here is var(--spacing3) because of the margin of the DescriptionCard component */
	.container {
        padding-bottom: var(--spacing7);
    }

     /* Headline */
    .headline {
        line-height: 4.5rem;
        font-size: 4rem;
    }

    /* SubHeadline */
    .subHeadline {
        font-size: 2.4rem;
        line-height: 3.5rem;
    }

    .mgb5 {
        margin-bottom: var(--spacing5);
    }
    
    /* Content */
    .content {
        display: flex;
    }

    /* External Link */
    .externalLink {
        font-size: 1.8rem;
    }
}

@media (min-width: 1280px) {
    /* Container */
    .container {
        padding-top: var(--spacing8);
        padding-bottom: var(--spacing9);
    }
    
    /* Headline */
    .headline {
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: var(--spacing3);
    }

    /* SubHeadline */
    .subHeadline {
        font-size: 3.4rem;
        line-height: 4.5rem;
    }
}

@media (min-width: 1500px) {
    .externalLink {
        font-size: 2rem;
        line-height: 3.2rem;
    }
}