/* Container */
.container {
    padding-top: var(--spacing6);
    padding-bottom: var(--spacing4);
    background-color: var(--black);
    color: var(--crimson-red);
}

/* Headline */
.headline {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: var(--spacing2);
}

@media (min-width: 768px) {
    /* Container */
    .container {
        padding-top: var(--spacing12);
        padding-bottom: var(--spacing15);
    }

    /* Headline */
    .headline {
        line-height: 4.5rem;
        font-size: 4rem;
    }
}

@media (min-width: 1280px) {
    /* Headline */ 
    .headline {
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: var(--spacing3);
    }
}
