/* Container */
.container {
    padding-top: var(--spacing6);
    padding-bottom: var(--spacing7);
}

/* Headline */
.headline {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: var(--heavy);
    margin-bottom: var(--spacing3);
    color: var(--crimson-red);
}

/* Slider */
.container :global(.sliderNavigationAndControls) {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: var(--spacing4);
}

/* Buttons in the slider */
.container :global(.sliderNavigationAndControls) button:first-child,
.container :global(.sliderNavigationAndControls) button:nth-child(2) {
    position: initial;
    display: block;
    box-shadow: none;
}

.container :global(.sliderNavigationAndControls) button:first-child {
    margin-right: 0;
}

.container :global(.sliderNavigationAndControls) button:first-child > svg {
    margin: 0;
}

.container :global(.sliderNavigationAndControls) button > svg > path {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    fill: var(--crimson-red);
}

/* Removing the "bullets list" from the screen */
.container :global(.sliderNavigationAndControls) > ul {
    display: none;
}    

@media (min-width: 768px) {
    /* Container */
    .container {
        padding-bottom: var(--spacing7);
    }

    /* Headline */
    .headline {
        line-height: 4.5rem;
        font-size: 4rem;
    }

    /* Slider */
    .container :global(.slider) {
        border: 1px solid red;
        padding-bottom: var(--spacing3);
    }

    .container :global(.sliderItem) {
        flex-direction: row;
        justify-content: center;
    }

    .content [class*='sliderControl'] {
        bottom: 0;
    }
}

@media (min-width: 1280px) {
    /* Container */ 
    .container {
        padding-top: var(--spacing8);
        padding-bottom: var(--spacing9);
    }

    /* Headline */
    .headline {
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: var(--spacing3);
        margin-left: var(--grid-outer-margin);
    }

    /* Slider */
    .container :global(.sliderItem) {
        flex-direction: row;
        justify-content: center;
        padding-left: var(--grid-outer-margin);
        padding-right: var(--grid-outer-margin);
    }
    
    .container :global(.sliderNavigationAndControls) {
        justify-content: space-between;
        padding-left: var(--grid-outer-margin);
        padding-right: var(--grid-outer-margin);
    }

    /* Buttons in the slider */
    .container :global(.sliderNavigationAndControls) button:first-child,
    .container :global(.sliderNavigationAndControls) button:nth-child(2) {
        padding: 0;
        padding-top: var(--spacing-0);
    }
}